.wrapper {
    color: rgb(182, 255, 175);
    display: flex;
    justify-content: center;
}

.mainContent {
    color: rgb(182, 255, 175);
    width: 20vw;
    margin-top: 5vw;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(21, 25, 24);
    box-shadow: rgba(0, 0, 0, 0.555) 0px 7px 29px 0px;
}
.mainContent:hover {
    animation-duration: 5s;
}