.wrapper {
    color: rgb(182, 255, 175);
    display: flex;
    justify-content: center;
}
@keyframes glow{
    from {box-shadow: rgb(11, 19, 10) 0px 7px 29px 0px;}
    to {box-shadow: rgba(182, 255, 175, 0.897) 0px 7px 29px 0px;}
}
.mainContent {
    color: rgb(211, 253, 207);
    width: 20vw;
    margin-top: 5vw;
    padding: 2rem;
    border-radius: 10px;
    background-color: rgb(21, 25, 24);
    box-shadow: rgba(0, 0, 0, 0.555) 0px 7px 29px 0px;
}
.mainContent:hover {
    animation-name: glow;
    animation-duration: 1.5s;
    box-shadow: rgba(182, 255, 175, 0.897) 0px 7px 29px 0px;
}