.wrapper {
    color: rgb(182, 255, 175);
    display: flex;
    justify-content: center;
}
@keyframes border {
    from {background-color: rgb(36, 43, 42);}
    to {background-color: rgb(21, 25, 24);}
}
.mainContent {
    width: 20vw;
    margin-top: 5vw;
    padding: 2rem;
    border-radius: 10px;
}
.mainContent:hover {
    animation-name: border;
    animation-duration: 5s;
}